{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "max-len": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "new-cap": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}